################################################
# Android Studio Custom .gitignore
app/build/
app/.cxx/
app/release/
#app/src/androidTest/
#app/src/debug/
#app/src/test/
build/
/build
captures/
/captures
.cxx
.cxx/
.externalNativeBuild/
.gradle/
/gradle/gradle-daemon-jvm.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.older/
.tmp/
.temp/
.DS_Store
deploymentTargetDropDown.xml
google-services.json
*.hprof
*.iml
*.jks
*.keystore
local.properties
/local.properties
*.log
misc.xml
output-metadata.json
!README.md
render.experimental.xml
*.*~



