app/.cxx
app/src/debug/
app/src/test/
app/src/androidTest/
build/
captures/
.externalNativeBuild/
.gradle/
.idea/
.tmp/
.temp/
*.aab
*.apk
!.idea/compiler.xml
!.idea/gradle.xml
#!.idea/misc.xml
!.idea/workspace.xml
.DS_Store
*.iml
local.properties
!README.md

################################################
# Android.gitignore
build/
captures/
.cxx/
.externalNativeBuild/
.gradle/
.idea/
*.aab
*.apk
deploymentTargetDropDown.xml
google-services.json
*.hprof
*.iml
*.jks
*.keystore
local.properties
*.log
misc.xml
output-metadata.json
render.experimental.xml

################################################
# Gradle.gitignore
#**/build/
#.gradle
#!**/src/**/build/
#.classpath
#gradle-app.setting
#!gradle-wrapper.jar
#!gradle-wrapper.properties
#.gradletasknamecache
#.project

################################################
# Kotlin.gitignore
#.kotlin/
#.mtj.tmp/
#*.class
#*.ctxt
#*.ear
#hs_err_pid*
#*.jar
#*.log
#*.nar
#replay_pid*
#*.rar
#*.tar.gz
#*.war
#*.zip

